body {
  text-shadow: 1px 1px 2px black;
  font-size: 20px;
}

h1 {
  color: rgb(4, 1, 46);

  font-family: "Trocchi", serif;
  margin: 0;
  max-width: 350px;
}

.container {
  max-width: 600px;
  background: #e1dfb095;
  margin: 0 auto;
  border: solid 5px rgba(83, 196, 221, 0.919);
  height: 100vh;
  padding: 10px;
}

label + div {
  padding: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #fff;
  height: 18px;
  width: 18px;
  margin-top: -8px;
  border-radius: 99px;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 4px;
  background: #ddd;
}

.takeChances {
  background-color: #c1f6f7;
  border-radius: 32px;
  text-shadow: 1px 1px 2px black;
  font-size: 20px;
  padding: 16px 31px;
  text-decoration: none;
  outline: none;
}
